* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
}

body {
    background-color: #837FB1;
}

.wrapper {
    margin: auto;
    margin-top: 36px;
    width: 700px;
    height: 350px;
    background-color: #212931;
    border-radius: 21px;
    position: relative;
    z-index: 2;
}

.nav {
    background-image: url(./assets/Group\ 15.svg);
    height: 13px;
    width: 58px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 3%;
    top: 5%;
}

.border {
    position: absolute;
    left: 25%;
    top: 22%;
    width: 700px;
    height: 360px;
    border: 1px solid #000000;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.2));
    border-radius: 21px;
    z-index: 1;
}

h1 {
    font-size: 48px;
    text-align: center;
    color: #FFFFFF;
}

p {
    /* color: #FFFFFF;
    font-size: 30px;
    position: absolute;
    top: 43%;
    left: 33%;
    width: 500px;
    line-height: 30px; */

    position: absolute;
    top: 45%;
    left: 15%;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    width: 500px;
}